.quizMode-container {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr));
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: calc(100% - 20px);
}

.mode {

    height: 200px;
    margin: 0 10px;

    border: 3px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.mode:hover {
    background-size: 107%;
    animation: zoomIn 300ms;
    border: 3px solid var(--text-color-alt);
}

.mode:hover h2 {
    color: var(--text-color-alt);
}

.mode h2 {
    font-family: var(--font-title);
    /* color: var(--text-color-alt); */
}


@media only screen and (max-width: 900px) {
    .quizzMode-container {

        max-width: calc(100% - 20px);
        width: 100%;
    }

    .mode {
        /* width: 100%; */
        /* background-color: red; */
        height: 200px;
        /* justify-self: center; */
        margin: 0 0 15px 0;
    }
}





@keyframes zoomIn {
    from{
        background-size: 100%;
    }
    to{
        background-size: 107%;
    }
}

