.trivialarch-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.trivialarch-container {
    margin: auto 20px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cancel-btn{
    /* background-color: transparent; */
    position: absolute;
    bottom: 10%;
    /* margin-top: 100px; */
    width: 125px;
    padding: 6px;
    border-radius: 8px;
    border: 2px solid white;
    transition: ease 200ms;
    cursor: pointer;
    font-family: var(--font-title);
    color: var(--text-color-main);
    font-weight: 700;
    opacity: 0.5;
}

.cancel-btn:hover{
    /* background-color: var(--shadow-color); */
    /* color: black; */
    opacity: 1;
}