.question-container {
    border: 3px solid white;
    border-radius: 8px;
    padding: 15px;

    display: grid;
    grid-template-areas: 
    "numQ topic correct wrong timer"
    "form form form form form"
    "form form form form form"
    "form form form form form"
    "form form form form form"
    "form form form form form"
    "progressb progressb progressb progressb progressb";
    width: 900px;
    align-items: center;
    justify-content: space-between;
}

.topic {
    grid-area: topic;
}

.question-num {
    grid-area: numQ;
}

.correct {
    grid-area: correct;
}

.incorrect {
    grid-area: wrong;
}

.timer {
    grid-area: timer;
}


.question-container form {
    grid-area: form;

    border-top: 3px solid white;
    /* background-color: blue; */
    display: grid;
    grid-template-areas: 
    "question question"
    "input1 answer1"
    "input2 answer2"
    "input3 answer3"
    "input4 answer4"
    "button button";
    width: 100%;
    /* grid-column: 10px 100px; */
    grid-template-columns: 30px 1fr;
    align-items: center;
    justify-content: left;
    /* align-items: center; */
    margin-top: 10px; 
}





.question {
    grid-area: question;
    margin: 10px 0 10px 0;
}

form .input1 {
    grid-area: input1;
}

form .answer1 {
    grid-area: answer1;
}


form .input2 {
    grid-area: input2;
}

form .answer2 {
    grid-area: answer2;
}


form .input3 {
    grid-area: input3;
}

form .answer3 {
    grid-area: answer3;
}


form .input4 {
    grid-area: input4;
}

form .answer4 {
    grid-area: answer4;
}

.button{
    grid-area: button;
    margin: 20px 0 0 0;
    padding: 6px;
    border-radius: 4px;
    border: 2px solid white;
    transition: ease 150ms;
    cursor: pointer;
    font-family: var(--font-title);
    color: var(--text-color-main);
    font-weight: 700;
}

.button:hover{
    background-color: white;
}

form {
    color: black;
}

input[type='radio'] {
    margin: 10px 0 10px 0;
}