.navbar-main {
    /* background-color: red; */
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--bg-color-alt);
    transition: all 400ms ease-in-out;
    font-family: var(--font-title);
}

.navbar-main:hover {
    border-bottom: 1.5px solid var(--text-color-alt);
    color: var(--text-color-alt);
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
}

/* .alt-text {
    opacity: 0;
    display: inline-block;
    max-width: 0;
    transition: all 400ms ease-in-out;
}

.navbar-main:hover .alt-text {
    opacity: 1;
    max-width: 10rem;
} */

@media only screen and (max-width: 900px) {
    .alt-text {
        display: none;
    }
}




.navbar-container {
    /* background-color: blue; */
    margin: 0 50px 0 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.navbar-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;
}

.navbar-container li {
    list-style: none;
    font-size: 0.9rem;
    font-weight: 400;
}


.strong-text {
    color: var(--text-color-alt);
    font-style: italic;
    /* font-weight: 450; */

}

.strong-text:before {
    color: var(--text-color-alt);
    font-weight: 500;
}